nav .bars:hover + .links {
  top: 50px;
}

.step:not(:last-of-type):after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -50px;
  transform: translateX(-50%);
  background-color: #9b9b9b;
  width: 0.5px;
  height: 100%;
}
